 <table class="table table-dark mx-auto w-75 " style ="margin-top:10%">
 <thead>
    <tr>
      
      <th scope="col">name</th>
       
      <th scope="col">new</th>
    </tr>
  </thead>
<tbody>
<tr>
 
  <tr>
   <td> Student</td>
   
    <td>  <a href="/students/new">New</a></td>
 </tr>
 <tr>
   <td> Cohort</td>
   
    <td>  <a href="/cohorts/new">New</a></td>
 </tr>
 <tr>
   <td> Instructor</td>
   
    <td>  <a href="/instructors/new">New</a></td>
 </tr>
 <tr>
   <td> Course</td>
   
    <td>  <a href="/courses/new">New</a></td>
 </tr>
 
</tr>
 </tbody>
</table>

 </div>