 

        <div   style="display: none">
        <%= form_with model:  @curent_course do |form|  %>

           <td>
                
                        <%= form.text_field :name, placeholder: "name"%>
                
                
                        <%= form.text_field :total_hours, placeholder: "total_hours"%>
               
             
                        <%= form.submit %>
                </td>

                <% end %>
 </div>