<div class = 'edit'>
<%= form_with model:   Course.new do |form| %>
    <%= form.text_field :name, placeholder: "name"%>
    <%= form.text_field :total_hours, placeholder: "total_hours"%>
    <%= form.submit %>
<% end %>
</div>